# yamllint disable rule:line-length
# yaml-language-server: $schema=https://raw.githubusercontent.com/ansible/ansible-lint/main/src/ansiblelint/schemas/ansible.json#/$defs/tasks
# yamllint enable rule:line-length
---
- name: Setup PyPI Ansible
  vars:
    target_venv: "{{ python_opt_dir }}/ansible-venv"
    python_packages:
      - ansible
      - ansible-lint
  block:
    - name: Create virtualenv
      ansible.builtin.import_role:
        name: create_python_venv
      vars:
        create_python_venv_dir: "{{ target_venv }}"
        create_python_venv_packages: "{{ python_packages }}"
        create_python_venv_python_exe: "{{ python_exe }}"
        create_python_venv_tempdir_path: "{{ tempdir.path }}"

    - name: Link Ansible Package Binaries
      ansible.builtin.file:
        state: link
        src: "{{ item }}"
        dest: "{{ ansible_facts['user_dir'] }}/bin/{{ item | basename }}"
      with_fileglob:
        - "{{ target_venv }}/bin/ansible*"

- name: Remove Homebrew Ansible
  community.general.homebrew:
    state: absent
    name: ansible
