# yamllint disable rule:line-length
# yaml-language-server: $schema=https://raw.githubusercontent.com/ansible/ansible-lint/main/src/ansiblelint/schemas/ansible.json#/$defs/tasks
# yamllint enable rule:line-length
---
- name: Setup AWS CLI
  vars:
    target_venv: "{{ python_opt_dir }}/awscli-venv"
    python_packages:
      - awscli
      - aws-sam-cli
  block:
    - name: Create virtualenv
      ansible.builtin.import_role:
        name: create_python_venv
      vars:
        create_python_venv_dir: "{{ target_venv }}"
        create_python_venv_packages: "{{ python_packages }}"
        create_python_venv_python_exe: "{{ python_exe }}"
        create_python_venv_tempdir_path: "{{ tempdir.path }}"

    - name: Link AWS CLI Package Binaries
      ansible.builtin.file:
        state: link
        src: "{{ item }}"
        dest: "{{ ansible_facts['user_dir'] }}/bin/{{ item | basename }}"
      with_fileglob:
        - "{{ target_venv }}/bin/aws"
        - "{{ target_venv }}/bin/sam"
