# yamllint disable rule:line-length
# yaml-language-server: $schema=https://raw.githubusercontent.com/ansible/ansible-lint/main/src/ansiblelint/schemas/ansible.json#/$defs/tasks
# yamllint enable rule:line-length
---
- name: Setup Python
  when: ansible_facts['machine'] == "arm64"
  vars:
    cpython_version: 3.14.3
    python_opt_dir: "{{ common_opt }}/python-{{ cpython_version }}"
    python_exe: "{{ python_opt_dir }}/cpython/python/install/bin/python3"
    cpython_release_tag: "20260211"
    cpython_archive_name: cpython-{{ cpython_version }}+{{ cpython_release_tag }}-aarch64-apple-darwin-pgo+lto-full  # yamllint disable-line rule:line-length
    cpython_sha256: d016c5a16c6a246f56cf2fae2a4150a339311a30787347ff1c1e063295c82401  # yamllint disable-line rule:line-length
  block:
    - name: Ensure opt Folder
      ansible.builtin.file:
        state: directory
        path: "{{ python_opt_dir }}"
        mode: "755"
      tags:
        - ansible
        - aws
        - cpython
        - venv

    - name: Install CPython 3
      ansible.builtin.import_role:
        name: download_and_extract_tar
      vars:
        download_and_extract_tar_archive_name: "{{ cpython_archive_name }}.tar.zst"  # yamllint disable-line rule:line-length
        download_and_extract_tar_download_url: https://github.com/astral-sh/python-build-standalone/releases/download/{{ cpython_release_tag }}/{{ cpython_archive_name }}.tar.zst  # yamllint disable-line rule:line-length
        download_and_extract_tar_install_dir: cpython
        download_and_extract_tar_opt_dir: "{{ python_opt_dir }}"
        download_and_extract_tar_pretty_name: CPython 3
        download_and_extract_tar_sha256: "{{ cpython_sha256 }}"
        download_and_extract_tar_tempdir_path: "{{ tempdir.path }}"
        download_and_extract_tar_verify: python/install/bin/python3
      tags: cpython

    - name: Python 3 Virtual Environment
      ansible.builtin.import_tasks: tasks/python/venv.yml
      tags: venv

    - name: AWS CLI
      ansible.builtin.import_tasks: tasks/python/awscli.yml
      tags: aws

    - name: Ansible
      ansible.builtin.import_tasks: tasks/python/ansible.yml
      tags: ansible

    - name: Purge Old CPython 3
      ansible.builtin.import_role:
        name: purge_old_install
      vars:
        purge_old_install_new_install: "{{ python_opt_dir }}"
        purge_old_install_pattern: python-*
        purge_old_install_pretty_name: CPython 3
