# yamllint disable rule:line-length
# yaml-language-server: $schema=https://raw.githubusercontent.com/ansible/ansible-lint/main/src/ansiblelint/schemas/ansible.json#/$defs/tasks
# yamllint enable rule:line-length
---
- name: Install Node.js
  when: ansible_machine == 'arm64'
  vars:
    node_sha256: 30bbe12b71f5b89ba44e15dc0cfaf3c733538d46ee375691534b7bbe622225cc  # yamllint disable-line rule:line-length
    node_version: 24.11.0
    node_archive_name: node-v{{ node_version }}-darwin-arm64
    node_opt_dir: "{{ common_opt }}/node-{{ node_version }}"
    node_install_dir: "{{ node_opt_dir }}/{{ node_archive_name }}"

    npm_packages:
      - "@ansible/ansible-language-server"
      - "@tailwindcss/language-server"
      - corepack
      - graphql-language-service-cli
      - markdown-toc
      - prettier
      - typescript
      - typescript-language-server
      - vscode-langservers-extracted
      - yaml-language-server
  block:
    - name: Download and Extract Tarball
      ansible.builtin.import_role:
        name: download_and_extract_tar
      vars:
        download_and_extract_tar_archive_name: "{{ node_archive_name }}.tar.xz"
        download_and_extract_tar_download_url: https://nodejs.org/dist/v{{ node_version }}/{{ node_archive_name }}.tar.xz  # yamllint disable-line rule:line-length
        download_and_extract_tar_install_dir: "{{ node_archive_name }}"
        download_and_extract_tar_opt_dir: "{{ node_opt_dir }}"
        download_and_extract_tar_pretty_name: Node.js
        download_and_extract_tar_sha256: "{{ node_sha256 }}"
        download_and_extract_tar_tempdir_path: "{{ tempdir.path }}"
        download_and_extract_tar_verify: "{{ node_archive_name }}/bin/node"

    - name: Install NPM Packages
      community.general.npm:
        global: true
        name: "{{ item }}"
        state: latest
      loop: "{{ npm_packages }}"
      environment:
        PATH: "{{ node_install_dir }}/{{ node_archive_name }}/bin:{{ ansible_env.PATH }}"  # yamllint disable-line rule:line-length

    - name: Link Node.js and NPM Package Binaries
      ansible.builtin.file:
        state: link
        src: "{{ item }}"
        dest: "{{ common_bin }}/{{ item | basename }}"
      with_fileglob:
        - "{{ node_install_dir }}/{{ node_archive_name }}/bin/*"

    - name: Purge Old Node.js
      ansible.builtin.import_role:
        name: purge_old_install
      vars:
        purge_old_install_new_install: "{{ node_opt_dir }}"
        purge_old_install_pattern: node-*
        purge_old_install_pretty_name: Node.js
