# yamllint disable rule:line-length
# yaml-language-server: $schema=https://raw.githubusercontent.com/ansible/ansible-lint/main/src/ansiblelint/schemas/ansible.json#/$defs/tasks
# yamllint enable rule:line-length
---
- name: Install Rust
  when: ansible_facts['machine'] == 'arm64'
  vars:
    rust_version: 1.92.0
    rust_archive_name: rust-{{ rust_version }}
    rust_opt_dir: "{{ common_opt }}/{{ rust_archive_name }}"

    # https://rust-lang.github.io/rustup/installation/other.html
    rustup_version: 1.28.2
    rustup_sha256: 20ef5516c31b1ac2290084199ba77dbbcaa1406c45c1d978ca68558ef5964ef5  # yamllint disable-line rule:line-length
    rustup_arch: aarch64-apple-darwin

    rust_components:
      - rust-analyzer

    rust_packages:
      - package_name: bat
        binary_name: bat
      - package_name: fd-find
        binary_name: fd
      - package_name: hyperfine
        binary_name: hyperfine
      - package_name: jwt-cli
        binary_name: jwt
      - package_name: onefetch
        binary_name: onefetch
      - package_name: ripgrep
        binary_name: rg
      - package_name: stylua
        binary_name: stylua
      - package_name: tree-sitter-cli
        binary_name: tree-sitter
  environment:
    CARGO_HOME: "{{ rust_opt_dir }}/.cargo"
    RUSTUP_HOME: "{{ rust_opt_dir }}/.rustup"
  block:
    - name: Download rustup-init
      ansible.builtin.get_url:
        url: https://static.rust-lang.org/rustup/archive/{{ rustup_version }}/{{ rustup_arch }}/rustup-init  # yamllint disable-line rule:line-length
        checksum: sha256:{{ rustup_sha256 }}
        dest: "{{ tempdir.path }}/rustup-init"
        mode: "755"

    - name: Ensure opt folder
      ansible.builtin.file:
        state: directory
        path: "{{ rust_opt_dir }}"
        mode: "755"

    - name: Run rustup-init
      ansible.builtin.command:
        argv:
          - "{{ tempdir.path }}/rustup-init"
          - --default-host={{ rustup_arch }}
          - --default-toolchain={{ rust_version }}
          - --no-modify-path
          - --profile=default
          - -y
        creates: "{{ rust_opt_dir }}/.rustup/toolchains/{{ rust_version }}-{{ rustup_arch }}/bin/rustc"  # yamllint disable-line rule:line-length

    - name: Install Rust Components
      ansible.builtin.command:
        argv:
          - "{{ rust_opt_dir }}/.cargo/bin/rustup"
          - component
          - add
          - "{{ item }}"
      loop: "{{ rust_components }}"
      register: result
      changed_when: "'is up to date' not in result.stderr"

    - name: Link Rust Binaries
      ansible.builtin.file:
        state: link
        src: "{{ item }}"
        dest: "{{ common_bin }}/{{ item | basename }}"
      with_fileglob:
        - "{{ rust_opt_dir }}/.cargo/bin/cargo*"
        - "{{ rust_opt_dir }}/.cargo/bin/rust*"

    - name: Install Rust Packages
      community.general.cargo:
        name: "{{ rust_packages | map(attribute='package_name') }}"
        state: latest

    - name: Link Rust Package Binaries
      ansible.builtin.file:
        state: link
        src: "{{ rust_opt_dir }}/.cargo/bin/{{ item.binary_name }}"
        dest: "{{ common_bin }}/{{ item.binary_name }}"
      loop: "{{ rust_packages }}"

    - name: Purge Old Rust
      ansible.builtin.import_role:
        name: purge_old_install
      vars:
        purge_old_install_new_install: "{{ rust_opt_dir }}"
        purge_old_install_pattern: rust-*
        purge_old_install_pretty_name: Rust
