# yamllint disable rule:line-length
# yaml-language-server: $schema=https://raw.githubusercontent.com/ansible/ansible-lint/main/src/ansiblelint/schemas/ansible.json#/$defs/tasks
# yamllint enable rule:line-length
---
- name: Ensure Eclipse JDT Language Server & Purge Old Versions
  vars:
    # https://download.eclipse.org/jdtls/milestones
    jdtls_version: 1.54.0
    jdtls_archive_name: jdt-language-server-{{ jdtls_version }}-202511261751  # yamllint disable-line rule:line-length
    jdtls_sha256: 1a291a269bd88b3c4048219122961a52ec80872afbc7a3f34270b2ce77f7a14c  # yamllint disable-line rule:line-length
    jdtls_opt_dir: "{{ java_opt_dir }}/jdtls-{{ jdtls_version }}"
    jdtls_install_dir: "{{ jdtls_opt_dir }}/{{ jdtls_archive_name }}"
  block:
    - name: Download and Extract Tarball
      ansible.builtin.import_role:
        name: download_and_extract_tar
      vars:
        download_and_extract_tar_archive_name: "{{ jdtls_archive_name }}.tar.gz"
        download_and_extract_tar_download_url: https://www.eclipse.org/downloads/download.php?file=/jdtls/milestones/{{ jdtls_version }}/{{ jdtls_archive_name }}.tar.gz  # yamllint disable-line rule:line-length
        download_and_extract_tar_install_dir: "{{ jdtls_archive_name }}"
        download_and_extract_tar_opt_dir: "{{ jdtls_opt_dir }}"
        download_and_extract_tar_pretty_name: Eclipse JDT Language Server
        download_and_extract_tar_sha256: "{{ jdtls_sha256 }}"
        download_and_extract_tar_tempdir_path: "{{ tempdir.path }}"
        download_and_extract_tar_verify: bin/jdtls

    - name: Link Eclipse JDT Language Server Binaries
      ansible.builtin.file:
        state: link
        src: "{{ item }}"
        dest: "{{ common_bin }}/{{ item | basename }}"
      with_fileglob:
        - "{{ jdtls_install_dir }}/bin/*"

    - name: Purge Old Eclipse JDT Language Servers
      ansible.builtin.import_role:
        name: purge_old_install
      vars:
        purge_old_install_new_install: "{{ jdtls_opt_dir }}"
        purge_old_install_pattern: jdtls-*
        purge_old_install_pretty_name: Eclipse JDT Language Servers
