# yamllint disable rule:line-length
# yaml-language-server: $schema=https://raw.githubusercontent.com/ansible/ansible-lint/main/src/ansiblelint/schemas/ansible.json#/$defs/tasks
# yamllint enable rule:line-length
---
- name: Setup Java
  vars:
    java_opt_dir: "{{ common_opt }}/java"
  block:
    - name: Ensure Java opt Folder
      ansible.builtin.file:
        state: directory
        path: "{{ java_opt_dir }}"
        mode: "755"
      tags:
        - java-debug
        - java-test
        - jdk
        - jdtls
        - lombok

    - name: Download and Install Java
      when: ansible_facts['machine'] == "arm64"
      ansible.builtin.include_tasks: tasks/java/jdk.yml
      loop: "{{ jdk_metadata }}"
      loop_control:
        loop_var: jdk
      tags: jdk
      vars:
        # https://aws.amazon.com/corretto
        jdk_metadata:
          # https://github.com/corretto/corretto-25/releases
          - java_version: 25.0.1
            jdk_version: 25.0.1.8.1
            jdk_sha256: 8ae7d9b2292bca1f78ba736572c0e8129eb4f5914d6d63015c31529da16cf458  # yamllint disable-line rule:line-length
            jdk_archive_name: amazon-corretto-25.0.1.8.1-macosx-aarch64
            is_primary_jdk: true

          # https://github.com/corretto/corretto-21/releases
          - java_version: 21.0.9
            jdk_version: 21.0.9.10.1
            jdk_sha256: b6400ac47dd93a98e5191dc8b3e87a412390ecdc0b42a1b6105069f3c76a290c  # yamllint disable-line rule:line-length
            jdk_archive_name: amazon-corretto-21.0.9.10.1-macosx-aarch64
            is_primary_jdk: false

          # https://github.com/corretto/corretto-17/releases
          - java_version: 17.0.17
            jdk_version: 17.0.17.10.1
            jdk_sha256: 61483f311a03c44dace8a7b2564aa3ed05f847b0c0c890dc390a4b9bf53342cb  # yamllint disable-line rule:line-length
            jdk_archive_name: amazon-corretto-17.0.17.10.1-macosx-aarch64
            is_primary_jdk: false

    - name: Eclipse JDT Language Server
      ansible.builtin.import_tasks: tasks/java/jdtls.yml
      tags: jdtls

    - name: Lombok
      ansible.builtin.import_tasks: tasks/java/lombok.yml
      tags: lombok

    - name: Java Test Runner
      ansible.builtin.import_tasks: tasks/java/java-test.yml
      tags: java-test

    - name: Java Debug
      ansible.builtin.import_tasks: tasks/java/java-debug.yml
      tags: java-debug
