# yamllint disable rule:line-length
# yaml-language-server: $schema=https://raw.githubusercontent.com/ansible/ansible-lint/main/src/ansiblelint/schemas/ansible.json#/$defs/tasks
# yamllint enable rule:line-length
---
- name: Setup Java
  vars:
    java_opt_dir: "{{ common_opt }}/java"
  block:
    - name: Ensure Java opt Folder
      ansible.builtin.file:
        state: directory
        path: "{{ java_opt_dir }}"
        mode: "755"
      tags:
        - java-debug
        - java-test
        - jdk
        - jdtls
        - lombok

    - name: Download and Install Java
      when: ansible_machine == "arm64"
      ansible.builtin.include_tasks: tasks/java/jdk.yml
      loop: "{{ jdk_metadata }}"
      loop_control:
        loop_var: jdk
      tags: jdk
      vars:
        # https://aws.amazon.com/corretto
        jdk_metadata:
          # https://github.com/corretto/corretto-25/releases
          - java_version: 25.0.1
            jdk_version: 25.0.1.8.1
            jdk_sha256: 8ae7d9b2292bca1f78ba736572c0e8129eb4f5914d6d63015c31529da16cf458  # yamllint disable-line rule:line-length
            jdk_archive_name: amazon-corretto-25.0.1.8.1-macosx-aarch64
            is_primary_jdk: true

          # https://github.com/corretto/corretto-21/releases
          - java_version: 21.0.3
            jdk_version: 21.0.3.9.1
            jdk_sha256: db1df7a3fe5d481a2ec52ea3c12b51ba7e9121cdb3dd39e0cf7bc77fba88cd98  # yamllint disable-line rule:line-length
            jdk_archive_name: amazon-corretto-21.0.3.9.1-macosx-aarch64
            is_primary_jdk: false

          # https://github.com/corretto/corretto-17/releases
          - java_version: 17.0.11
            jdk_version: 17.0.11.9.1
            jdk_sha256: e2d4b5e34f4903278c8a8ba0582072a862fc6d6923ec6ce9f90130cf3cf787f8  # yamllint disable-line rule:line-length
            jdk_archive_name: amazon-corretto-17.0.11.9.1-macosx-aarch64
            is_primary_jdk: false

    - name: Eclipse JDT Language Server
      ansible.builtin.import_tasks: tasks/java/jdtls.yml
      tags: jdtls

    - name: Lombok
      ansible.builtin.import_tasks: tasks/java/lombok.yml
      tags: lombok

    - name: Java Test Runner
      ansible.builtin.import_tasks: tasks/java/java-test.yml
      tags: java-test

    - name: Java Debug
      ansible.builtin.import_tasks: tasks/java/java-debug.yml
      tags: java-debug
